/*body{
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
div{
  background-color: brown;
  width: 100px;
  height: 100px;
  margin: 10px;
  animation-name: rotate-screw;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes rotate-screw{
  0%{
    transform:rotate(180deg)
  }
  50%{
    transform: rotate(-180deg);
  }
  100%{
    transform: rotate(180deg);
  }*/

